body {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 940px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid #dcdcf5;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;

    
}

h1 {
    background-image: url(../image/sobre-background.jpg);
    padding: 10px;
    border-radius: 5px;
}

h1 + p {
    text-indent: 0;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
    text-align: left;
    text-indent: 10px;
}

p::first-letter {
    font-weight: bold;
    font-variant: small-caps;
}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 10px 10px 10px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

.rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    border-bottom: 2px solid #333333;
    
} 

.rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

footer {
    background-image: url(../image/fundo-rodape.png);
    clear: both;
    padding: 20px 5px;
    border-radius: 5px;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: -1px;
    right: 0;
}


.social li {
    float: left;
    margin-left: 25px;
    padding-right: 20px;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
background-image: url(../image/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../image/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../image/googleplus.png);
}