<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mirror Fashion</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <header class="container">
            <h1>
                <img src="image/logo.png" alt="Mirror Fashion" class="logo-tipo">
            </h1>
            <br>
            <p class="sacola">
                Nenhum item na sacola de compras
            </p>

            <nav class="menu-opcoes">
                <ul>
                    <li>
                        <a href="#">Sua Conta</a>
                    </li>
                    <li>
                        <a href="#">Lista de Desejos</a>
                    </li>
                    <li>
                        <a href="#">Cartão Fidelidade</a>
                    </li>
                    <li>
                        <a href="sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Ajuda</a>
                    </li>

                </ul>
            </nav>

            <div class="destaque">
                <section class="busca">

                    <h2>Busca</h2>

                    <form action="">
                        <input type="search" placeholder="Digite o que procura e aperte enter.">
                        <button>Buscar</button>
                    </form>

                </section>

                <section class="menu-departamentos">
                    <h2>Departamentos</h2>

                    <nav>
                        <ul>
                            <li>
                                <a href="#">Blusas e Camisas</a>
                                <ul>
                                    <li>
                                        <a href="#">Manga curta</a>
                                    </li>
                                    <li>
                                        <a href="#">Manga comp.</a>
                                    </li>
                                    <li>
                                        <a href="#">Camisa social</a>
                                    </li>
                                    <li>
                                        <a href="#">Camisa casual</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Calças</a>
                                <ul>
                                    <li>
                                        <a href="#">Leg</a>
                                    </li>
                                    <li>
                                        <a href="#">Jeans</a>
                                    </li>
                                    <li>
                                        <a href="#">Moleton</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Saias</a>
                                <ul>
                                    <li>
                                        <a href="#">Curta</a>
                                    </li>
                                    <li>
                                        <a href="#">Longa</a>
                                    </li>
                                    <li>
                                        <a href="#">Com zipper</a>
                                    </li>
                                    <li>
                                        <a href="#">Com estampa</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Vestidos</a>
                                <ul>
                                    <li>
                                        <a href="#">Social</a>
                                    </li>
                                    <li>
                                        <a href="#">Simples</a>
                                    </li>
                                    <li>
                                        <a href="#">Crepe</a>
                                    </li>
                                    <li>
                                        <a href="#">Com alça</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Sapatos</a>
                                <ul>
                                    <li>
                                        <a href="#">Masculino</a>
                                        <ul>
                                            <li>
                                                <a href="#">Couro</a>
                                            </li>
                                            <li>
                                                <a href="#">Casual</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"></a>Feminino
                                        <ul>
                                            <li>
                                                <a href="#">Babuche</a>
                                            </li>
                                            <li>
                                                <a href="#">Chanel</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bolsas e Carteiras</a>
                                <ul>
                                    <li>
                                        <a href="#">Carteiras</a>
                                    </li>
                                    <li>
                                        <a href="#">Bolsas</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Acessórios</a>
                                <ul>
                                    <li>
                                        <a href="#">Colares</a>
                                    </li>
                                    <li>
                                        <a href="#">Brincos</a>
                                    </li>
                                    <li>
                                        <a href="#">Pulseiras</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </section>

                <section class="banner-destaque">
                    <figure>
                        <img src="image/destaque-home.png" alt="Promoção: Big City Night" class="sombra">
                    </figure>
                </section>
            </div>

         <!-- //////////////////////Inicio do painel////////////////////// -->
       
            <div class="painel">

                <section class="novidades">
                    <h2>Novidades</h2>

                    <ol>
                        <!-- primeiro produto -->
                        <li>
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura1.png" alt="miniatura1">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- Fim do primeiro produto-->

                        <li>
                            <!-- segundo produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura2.png" alt="miniatura2">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- terceiro produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura3.png" alt="miniatura3">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- quarto produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura4.png" alt="miniatura4">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- quinto produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura5.png" alt="miniatura5">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- sexto produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura6.png" alt="miniatura6">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ol>

                </section>
                <!-- Fim do primeiro painel -->

                <section class="mais-vendidos">
                    <h2>Mais Vendidos</h2>

                    <ol>
                        <!-- Sétimo produto -->
                        <li>
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura7.png" alt="miniatura7">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- Fim do primeiro produto-->

                        <li>
                            <!-- Oitávo produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura8.png" alt="miniatura8">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- Nono produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura9.png" alt="miniatura9">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- déssimo produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura10.png" alt="miniatura10">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- Décimo primeiro produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura11.png" alt="miniatura11">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>

                        <li>
                            <!-- Décimo segundo produto -->
                            <a href="produto.html">
                                <figure>
                                    <img src="image/produtos/miniatura12.png" alt="miniatura12">
                                    <figcaption>Fuzz Cardigan<br>por R$ 129,90</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ol>
                </section>

            </div>
       


        </header>



        <!-- //////////////////////RODAPÉ////////////////////// -->
        <footer class="container">
            <div class="container">

                <img src="image/logo-rodape.png" alt="Logo da Mirror Fashion">

                <ul class="social">
                    <li>
                        <a href="http://facebook.com/mirrorfashion" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/mirrorfashion" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="http://plus.google.com/mirrorfashion" target="_blank">Google+</a>
                    </li>
                </ul>
            </div>

        </footer>
    </body>

</html>